AccountCustomerWS.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:acws.sgl.com/AccountCustomerWS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:acws.sgl.com/AccountCustomerWS" name="AccountCustomerWSService">
<types>
<xsd:schema>
<xsd:import namespace="urn:acws.sgl.com/AccountCustomerWS" schemaLocation="https://sorensongenomics.com:443/account_customer_ws/AccountCustomerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="upgrade">
<part name="parameters" element="tns:upgrade"/>
</message>
<message name="upgradeResponse">
<part name="parameters" element="tns:upgradeResponse"/>
</message>
<message name="createOrder">
<part name="parameters" element="tns:createOrder"/>
</message>
<message name="createOrderResponse">
<part name="parameters" element="tns:createOrderResponse"/>
</message>
<message name="createSMGFOrder">
<part name="parameters" element="tns:createSMGFOrder"/>
</message>
<message name="createSMGFOrderResponse">
<part name="parameters" element="tns:createSMGFOrderResponse"/>
</message>
<message name="getCurrentKitStatus">
<part name="parameters" element="tns:getCurrentKitStatus"/>
</message>
<message name="getCurrentKitStatusResponse">
<part name="parameters" element="tns:getCurrentKitStatusResponse"/>
</message>
<message name="cancelKit">
<part name="parameters" element="tns:cancelKit"/>
</message>
<message name="cancelKitResponse">
<part name="parameters" element="tns:cancelKitResponse"/>
</message>
<message name="getMtdnaResults">
<part name="parameters" element="tns:getMtdnaResults"/>
</message>
<message name="getMtdnaResultsResponse">
<part name="parameters" element="tns:getMtdnaResultsResponse"/>
</message>
<message name="getYResults">
<part name="parameters" element="tns:getYResults"/>
</message>
<message name="getYResultsResponse">
<part name="parameters" element="tns:getYResultsResponse"/>
</message>
<message name="getSNPResults">
<part name="parameters" element="tns:getSNPResults"/>
</message>
<message name="getSNPResultsResponse">
<part name="parameters" element="tns:getSNPResultsResponse"/>
</message>
<message name="getParticipantInfo">
<part name="parameters" element="tns:getParticipantInfo"/>
</message>
<message name="getParticipantInfoResponse">
<part name="parameters" element="tns:getParticipantInfoResponse"/>
</message>
<message name="getSNPResultsByDateRange">
<part name="parameters" element="tns:getSNPResultsByDateRange"/>
</message>
<message name="getSNPResultsByDateRangeResponse">
<part name="parameters" element="tns:getSNPResultsByDateRangeResponse"/>
</message>
<message name="getPDFReports">
<part name="parameters" element="tns:getPDFReports"/>
</message>
<message name="getPDFReportsResponse">
<part name="parameters" element="tns:getPDFReportsResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="recollect">
<part name="parameters" element="tns:recollect"/>
</message>
<message name="recollectResponse">
<part name="parameters" element="tns:recollectResponse"/>
</message>
<portType name="AccountCustomerWS">
<operation name="upgrade">
<input message="tns:upgrade"/>
<output message="tns:upgradeResponse"/>
</operation>
<operation name="createOrder">
<input message="tns:createOrder"/>
<output message="tns:createOrderResponse"/>
</operation>
<operation name="createSMGFOrder">
<input message="tns:createSMGFOrder"/>
<output message="tns:createSMGFOrderResponse"/>
</operation>
<operation name="getCurrentKitStatus">
<input message="tns:getCurrentKitStatus"/>
<output message="tns:getCurrentKitStatusResponse"/>
</operation>
<operation name="cancelKit">
<input message="tns:cancelKit"/>
<output message="tns:cancelKitResponse"/>
</operation>
<operation name="getMtdnaResults">
<input message="tns:getMtdnaResults"/>
<output message="tns:getMtdnaResultsResponse"/>
</operation>
<operation name="getYResults">
<input message="tns:getYResults"/>
<output message="tns:getYResultsResponse"/>
</operation>
<operation name="getSNPResults">
<input message="tns:getSNPResults"/>
<output message="tns:getSNPResultsResponse"/>
</operation>
<operation name="getParticipantInfo">
<input message="tns:getParticipantInfo"/>
<output message="tns:getParticipantInfoResponse"/>
</operation>
<operation name="getSNPResultsByDateRange">
<input message="tns:getSNPResultsByDateRange"/>
<output message="tns:getSNPResultsByDateRangeResponse"/>
</operation>
<operation name="getPDFReports">
<input message="tns:getPDFReports"/>
<output message="tns:getPDFReportsResponse"/>
<fault message="tns:IOException" name="IOException"/>
</operation>
<operation name="recollect">
<input message="tns:recollect"/>
<output message="tns:recollectResponse"/>
</operation>
</portType>
<binding name="AccountCustomerWSPortBinding" type="tns:AccountCustomerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="upgrade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createSMGFOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrentKitStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelKit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMtdnaResults">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getYResults">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSNPResults">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getParticipantInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSNPResultsByDateRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPDFReports">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="recollect">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AccountCustomerWSService">
<port name="AccountCustomerWSPort" binding="tns:AccountCustomerWSPortBinding">
<soap:address location="https://sorensongenomics.com:443/account_customer_ws/AccountCustomerWS"/>
</port>
</service>
</definitions>